- @title = "#{@spec.title} - Textile Reference"
%h1= @spec.title

%p
  %a{:href => '/'} Back to index
%p.check_boxes
  %input{:id => "toggle-html-output", :type=>"checkbox"}
  %label{:for => "toggle-html-output"} Show HTML output

- @spec.examples.each do |heading, examples|
  .example-group
    %h2= heading
    - examples.each do |example_title, example|
      - next if example_title.is_a?(Symbol)
      - unless example_title == heading
        %h3= example_title 
      .example.clearfix{:id => example_title.gsub(" ", '-')}
        .desc
          = RedCloth.new(example['desc']).to_html
        .input
          .type Textile
          %pre&= example['input']
        .html{:style => "display:none"}
          .type HTML
          %pre&= example['output']
        .output
          .type Browser
          .output-inner~ example['output']
%p
  .spec_reference
    Spec source:
    %a{:href => @spec.file}= @spec.file
  %a{:href => '/'} Back to index
